@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{

  html{
    scroll-behavior: smooth;
  }

  body{
    @apply bg-[#f7cacc] text-[#020205] tracking-wide
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-bold
  }
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl 
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li{
    @apply cursor-pointer
  }
  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5ba36d] to-[#795656]
  }
}

.angle1:after{
  background-color: #f7cacc;
  height: 120px;
  content: '';
  display: block;
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.angle2:after{
  background-color: #48d8a4;
  height: 120px;
  content: '';
  display: block;
  clip-path: polygon(0 0, 100% 0, 25% 100%);
}

.angle3:after{
  background-color: #7689d8;
  height: 120px;
  content: '';
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
}

.angle4:after{
  background-color:rgb(251 146 60 / 1);
  height: 120px;
  content: '';
  display: block;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}


.mainEnd:after{
  background-image: url(/kamakshee-weds-chaitanya/assets/main-flower.svg);
  background-size: 160px;
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 160px;
  height: 200px;
  content: "";
  position: absolute;
  z-index: 1;
  right: 0px;
}

.storyBlockEnd:after{
  background-image: url(/kamakshee-weds-chaitanya/assets/heart.svg);
  background-size: 160px;
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 160px;
  height: 160px;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
}

.regardsBlockStart:after{
  content: url(/kamakshee-weds-chaitanya/assets/namaste.png);
  display: block;
  z-index: 1;
  height: auto;
  width: 160px;
  position: absolute;
  left: 0px;
}


.weddingEnd:after{
  background-image: url(/kamakshee-weds-chaitanya/assets/ring.svg);
  background-size: 160px;
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 160px;
  height: 160px;
  content: "";
  position: absolute;
  z-index: 1;
  right: 0px;
}
